@import '../../colors.scss';

.title-h1{
    font-family: 'PoppinsMedium';
    font-size: 60px;
    color: $dark;
    margin-bottom: 10px;
}

.title-h2{
    font-family: 'PoppinsMedium';
    font-size: 48px;
    color: $dark;
    margin-bottom: 10px;
}

.title-h3{
    font-family: 'PoppinsMedium';
    font-size: 36px;
    color: $dark;
    margin-bottom: 10px;
}