@import "../../colors.scss";
@import "../../mixins.scss";

.title-dark {
  color: $dark;
}

.title-light {
  color: $light;
}

.title-h1 {
  font-size: 60px;
  @include base-title;
}

.title-h2 {
  font-size: 48px;
  @include base-title;
}

.title-h3 {
  font-size: 36px;
  @include base-title;
}

.title-h4 {
  font-size: 24px;
  @include base-title;
}

.title-h5 {
  font-size: 18px;
 @include base-title;
}

.title-h6 {
  font-size: 14px;
  @include base-title;
}
